.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: min-content; /* Устанавливает минимально необходимую высоту для строк */
  gap: 20px;
  padding: 20px;
  padding-top: 80px; /* Увеличенный отступ сверху */
  background-image: url('../../images/cathedral.webp');
  justify-content: center;
  align-items: start; /* Размещает элементы в начале каждой строки */
  height: 100vh; /* Высота подстраивается под содержимое */
}

.service-item {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center; /* Для центрирования содержимого по горизонтали */
}

.service-image {
  width: 100%;
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
}

.service-info {
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  background-color: white;
}

.service-name {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.service-duration, .service-description {
  color: grey;
  font-size: 14px;
}

.service-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}
