.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../images/cathedral.webp');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255); /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Тень для текста */
    text-align: center;
    
  }
  
  .about-container h2 {
    font-size: 2rem;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .about-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .about-container p {
    font-size: 1rem;
    max-width: 600px; /* Adjust as needed */
  }
  