
/* Стили для навигационной панели */
nav {
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  width: 100%; /* Панель растягивается на всю ширину */
  background-color: rgba(255, 255, 255, 0); /* Прозрачный белый цвет */
  display: flex;
  justify-content: space-around; /* Равномерное распределение элементов */
  padding: 20px 20px; /* Внутренний отступ сверху и снизу */
  }
  
  /* Стили для списка */
  ul {
    list-style-type: none; /* Убираем маркеры списка */
    display: flex; /* Размещаем элементы в строку */
    margin: 0; /* Убираем отступы */
    padding-right: 30px; /* Убираем отступы */
  }
  
  /* Стили для элементов списка (ссылок) */
  li {
    margin-right: 20px; /* Горизонтальные отступы между элементами */
    font-size: 16px; /* Размер шрифта */
  }
  
  li:last-child {
    margin-right: 0; /* Убираем отступ справа у последнего элемента */
  }
  
  /* Стили для подсветки при наведении */
  li a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #fff; /* Цвет текста */
    transition: color 0.3s; /* Плавное изменение цвета текста при наведении */
  }
  
  li a:hover {
    color: #ff5733; /* Цвет текста при наведении курсора */
  }
  
  /* Стили для логотипа (слева) */
  .logo {
    margin-right: auto; /* Отступ слева от логотипа, чтобы он был слева */
    font-size: 20px; /* Размер шрифта логотипа */
    color: #fff; /* Цвет текста логотипа */
  }